h2{
 font-size:60px;
 font-family: 'Roboto Mono', monospace;
}
main{
    text-align:center;
    background: solid purple;

}
font-family: 'Roboto Slab', serif;
div{
    background-color: purple;
    text-align:center;
    display:flex;
    position: relative;
    padding:30px;
    
}